@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Header Information Style */

header {
  background: #1f2937;
  height: 550px;
}

header a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container h3{
  font-size: 24px;
  color: #f9faf8;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  gap: 25px;
}

ul li a {
  color: #ebe7eb;
  font-size: 18px;
}

.hero {
  color: #f9faf8;
  width: 1200px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 180px;
}

.hero-container {
  margin-right: 20px;
  width: 500px;
}

.hero-container h1 p {
  overflow-wrap: break-word;
}

.hero-container button{
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  font-weight: 600; 
  background: #3882f6;
  color: #f9faf8;
  font-size: 15px;
  cursor: pointer;
  border: 1px;
}

.hero h1 {
  font-size: 48px;
}

.hero img {
  width: 500px;
  background-size: center;
}

/* Some Random Information Style */

.section-information {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-information h2 {
  font-size: 36px;
  color: #1f2937;
}

.section-image {
  display: flex;
  gap: 20px;
  text-align: center;
}

.section-image .content {
  width: 200px
}

.section-image img{
  max-width: 200px;
  height: 200px;
  border-radius: 10px;
}

/* Section Qoute */

.section-qoute {
  height: 500px;
  background: #ebe7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qoute-container {
  width: 950px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.qoute-container h3 {
  font-weight: 300;
}

.qoute-container span {
margin-left: 600px;
}

/* Call to Action Section Style */

.cta-section {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-container {
  background: #3882f6;
  color: #ebe7eb;
  width: 1000px;
  padding: 30px 0 30px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}


.cta-content span {
  font-weight: bold;
  font-size: 30px;
}

.cta-content p {
  font-weight: 200;
  font-size: 1em;
  margin-top: -5px;
}

.cta-container button {
  width: 120px;
  padding: 7px 20px 7px 20px;
  border: 2px solid #f9faf8;
  border-radius: 10px;
  background: #3882f6;
  color: #ebe7eb;
  font-size: 18px;
  font-weight: 600;
}

/*  Footer Style */

footer {
  background: #1f2937;
  color: #ebe7eb;
}

.footer-container {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
}